/*ТАБЛИЦА НАЧАЛО*/
table td{
    padding: 20px;
    border: 1px solid black;
}
.active{
    background-color: blue;
}
.success{
    background-color: green;
}
.fail{
    background-color: red;
}
/*ТАБЛИЦА КОНЕЦ*/